/* font-family: 'Josefin Sans', sans-serif;

    IDs:
    id="logo"
    id="roll"
    id="cube"
    id="calc"
    id="body"
    
    
    NAMES: 
    
    
    CLASSES: 
    class="menuButton"
    class="dumbBanner"
    class="mainText"
    class="mainPic"
    class="flexCentered"
    */
#body {
    background-image:linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%);
    background-size:5% 100%;
    background-repeat:repeat-x;
    border:0;
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    text-align:center;
    height:available;
}
#gigaBox {
    display:flex;
    flex-direction:column;
    width:90%;
    height:100%;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding: 0.2em;
}

#cube {
    width:75%;
    height:75%;
}
.menuButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width:10em;
    height:4.4em;
    background-image: radial-gradient(circle, #29b3dd 0%, #9b25c9 100%);
    border:0;

}
.menuButtonText {
    font-weight:bolder;
    font-size:1.5em;
    color:aliceblue;
    font-family:Josefin sans, sans-serif;
    text-decoration: none;
    background:none;
    border:0
}
.flexCentered {
    display: flex;
    justify-content: center;
}
.flexCenteredMarginTop {
    display: flex;
    justify-content: center;
    margin-top: 2.5em;
}
.borderedPurp {
    border:solid;
    border-radius: 2em;
    border-width: 0.3em;
    border-color: #9b25c9;
    padding:0.2em
}
 .display {
    margin:1%;
    color:darkslateblue;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-weight: bolder;
    font-size: 1.5em; 
} 
.forCalc {
    display:flex;
    justify-content: center;
    align-items: center;
}
.biggerBox {
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    height:30vh;
    min-height:13em;
    width:60vw;
    min-width:25em;
    border-radius:2em;
    background: radial-gradient(circle, rgb(71, 211, 243) 0%, rgb(195, 66, 241) 100%)
}
.smallerBox {
    display:flex;
    justify-content:left;
    align-items: center;
    height:60%;
    width:65%;
    border-radius: 1em 0% 0% 1em;
    margin:2em;
    margin-right:0;
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(205, 239, 249) 100%)
}
.controls {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    flex-wrap: wrap;
    height:60%;
    width:30%;
    border-left:solid;
    border-color: black;
    border-width:0.5em;
    border-radius: 0% 1em 1em 0%;
    margin:2em;
    margin-left:0;
    background: radial-gradient(circle, rgb(231, 29, 117) 0%, rgb(59, 49, 242) 100%)
}
#operSelect {
    margin:2%;
    height:100%;
    width:40%;
    border-radius:10%;
    background: radial-gradient(circle,#edfaf4 60%, #9b25c9 100%);
    border:2%;
    border-color:gray;
    font-weight:bolder;
    color:rgb(0, 0, 0);
    text-align:center;
}
#additionalRoll {
    margin:2%;
    height:100%;
    
    width:40%;
    border-radius:10%;
    background: radial-gradient(circle,#0dee85 0%, #9b25c9 100%);
    border:2%;
    border-color:gray;
    font-weight:bolder;
    color:rgb(0, 0, 0);
    text-align:center;
    color:aliceblue;
}

#inputted {
    margin:2%;
    height:18%;
    width:80%;
    border-radius:10%;
    background: radial-gradient(circle,#edfaf4 60%, #9b25c9 100%);
    border:2%;
    border-color:gray;
    font-weight:bolder;
    color:rgb(0, 0, 0);
    text-align:center;
}

#resultat {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:2%;
    height:3em;
    width:40%;
    min-width:6.8em;
    border-radius:10%;
    background: radial-gradient(circle,#0dee85 0%, #9b25c9 100%);
    border:2%;
    border-color:gray;
    font-weight:bolder;
    color:aliceblue;
}
/*.rainbow-box {
    width: 7.5vw;
    height: 100vh;
    border-radius: 0;
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
}
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
*/
/* #logo {}
#roll {}

#calc {}


.menuButton {}
.dumbBanner {}
.mainText {}

margin:1em; font-family: Josefin sans, sans-serif; font-weight: bolder; font-size: 1.5em;


background-image: url(Res/blya.jpg);
background-position: center;
background-repeat: repeat;
background-size:100%;
*/
